- provide(:title, "About")
%h1 About
%p
  The
  %a{:href => "http://www.railstutorial.org/"}
    %em
      Ruby on Rails
      Tutorial
  is a
  %a{:href => "http://www.railstutorial.org/book"} book
  and
  %a{:href => "http://screencasts.railstutorial.org/"} screencast series
  to teach web development with
  = succeed "." do
    %a{:href => "http://rubyonrails.org/"} Ruby on Rails
