<% if logged_in? %>
  <div id="favorite_form">
    <% if current_user.have_favorite?(micropost) %>
      <%= render 'users/unfavorite', micropost: micropost %>
    <% else %>
      <%= render 'users/favorite', micropost: micropost %>
    <% end %>
  </div>
<% end %>